<script>
 var list=document.querySelectorAll("section.date")
 let today=new Date();
 today.setHours(0,0,0,0)
 let farFuture=new Date(today)
 farFuture.setDate(farFuture.getDate() + 7)

 for (let item of list) {
     var itemDate= new Date(item.dataset.date + " 00:00:00 -03:00")
     if (itemDate < today){
       item.className += " past"
     }else if( itemDate <= farFuture ){ 
       item.className += " future"
     }else{
       item.className += " future far_future"
     }

 }
 // toggle short/long description
 for (let item of  document.getElementsByClassName("description")) {
    item.addEventListener("click", (event) => { event.target.classList.toggle("show")} )
 }

</script>

